<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230193440931-93umuskniek708kb10iiu53o8sqb5svb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230193440931-93umuskniek708kb10iiu53o8sqb5svb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>230193440931-783thjpvp2sa4oa9hnakg406hlq5f47a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCf0IMyni1moeAx7SkW5ZnwPZnQkt8BEro</string>
	<key>GCM_SENDER_ID</key>
	<string>230193440931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctor</string>
	<key>PROJECT_ID</key>
	<string>doctor-27b2f</string>
	<key>STORAGE_BUCKET</key>
	<string>doctor-27b2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230193440931:ios:9630293400006d7a60f716</string>
</dict>
</plist>